<html>
  <head>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">  
    <link rel="stylesheet" href="/css/blueprint/src/reset.css" type="text/css" media="screen, projection">  
    <link rel="stylesheet" href="/css/blueprint/src/typography.css" type="text/css" media="screen, projection">  
    <link rel="stylesheet" href="/css/blueprint/src/grid.css" type="text/css" media="screen, projection">  
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/application.css" type="text/css" media="screen, projection">  

    <title>{{ page.title }}</title>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21220732-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="logo" class="span-6">
          <h2>
            <a href="http://6lbhippo.com/">6lbHippo</a>
          </h2>
        </div>
        <div id="navbar" class="span-18 last">
          <p align="right">
            <h3 align="right">
              <a href="/products">Products</a>
              <a href="/blog">Blog</a>
              <a href="/contact">Contact</a>
            </h3>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="content" class="span-24 last">
      </div>
    </div>
  </body>
</html>
